.nav-top {
  transition: all 0.8s ease;
  &:hover {
    background-color: rgba($primary, 0.9) !important;
    .iconHover {
      transform: scale(1.2);
    }
  }
}
.z-index-99 {
  z-index: 99;
}

.swiper-wrapper {
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1) !important;
}

.mv-img {
  aspect-ratio: 0.857/1;
  object-fit: cover;
  object-position: center;
}

// 粉紅色三角
.triangle-corner {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: rgba($primary, 0.6); // 淡粉紅色
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    z-index: 3;
  }
}
